<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <h2 class="mb-4 text-center"><%= t('devise.registrations.edit.title', default: "Edit #{resource_name.to_s.humanize}") %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %> <i>(<%= t('devise.registrations.edit.leave_blank') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= t('devise.registrations.edit.password_minimum', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :confirm_new_password, class: "form-label" %><br />
          <%= f.password_field :confirm_password_new, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :current_password, class: "form-label" %> <i>(<%= t('devise.registrations.edit.confirm_changes') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit t('helpers.submit.user.update'), class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="text-center">
        <h3 class="mt-4"><%= t('devise.registrations.edit.cancel_account') %></h3>
      </div>
      <div class="text-center">
        <p><%= t('devise.registrations.edit.unhappy') %></p>
        <%= button_to t('devise.registrations.edit.cancel_account'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.are_you_sure'), turbo_confirm: t('devise.registrations.edit.are_you_sure') }, method: :delete, class: "btn btn-danger" %>
      </div>

      <div class="d-grid gap-2 col-2 mx-auto">
        <%= link_to t('devise.shared.links.back'), :back, class: "btn btn-secondary mt-3" %>
      </div>
    </div>
  </div>
</div>
