<p><%= t('devise.mailer.reset_password_instructions.greeting', email: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.intro') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.outro') %></p>
<p><%= t('devise.mailer.reset_password_instructions.outro_2') %></p>
